.place__website_link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: white;
    opacity: 1;
    transition: opacity .5s linear;
}

.place__website_link:hover{
    opacity: .3;
}