.cover {
    max-width: 100%;
    min-height: 740px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1279px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width:1023px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width:767px){
    .cover {
        min-height: 200px;
    }
}